# Ignore build output
bin/
.gopkg/
.gopath/
.gocache/
.gotmp/
cache/
zenith.db
vm-data/
vlogs-data/
zenith-server

# Local configurations
config.json

# Logs
*.log

# Temp data
*.csv
.DS_Store
mcp.json
